.link {
   color: #4A4A4A;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-decoration-line: underline;
   text-align: center;
}

.btn_login {
   color: $page_blue;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}