*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

[class$=__container] {
    max-width: 1597px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    overflow-x: hidden;
}

@media (max-width: 1366px) {
    [class$=__container] {
        max-width: 1175px;
    }
}

@media (max-width: 1024px) {
    [class$=__container] {
        max-width: 893px;
    }
}

@media (max-width: 768px) {
    [class$=__container] {
        max-width: 658px;
    }
}

@media (max-width: 480px) {
    [class$=__container] {
        max-width: 396px;
    }
}

@media (max-width: 320px) {
    [class$=__container] {
        max-width: none;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    background: none;
    border: none
}

.page__header {
    border: #fff;
}

.page__main {
    background: #F9FBFF;
}

/* ====================================== Pop up */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.38);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px 10px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.popup_active {
    opacity: 1;
    visibility: visible;
}

.form {
    display: flex;
    flex-direction: column;
    width: 434px;
    border-radius: 10px;
    background: #F9FBFF;
    padding: 50px 35px;
    position: relative;
}

@media (max-width: 1024px) {
    .form {
        width: 330px;
    }
}

.close {
    content: url('/img/cross__popup.svg');
    position: absolute;
    display: flex;
    justify-content: center;
    top: -15px;
    right: -15px;
    border-radius: 35px;
    background: #DCDCDC;
    padding: 12px;
}

.header-form {
    display: flex;
}

.header-form__container {
    flex: 0 1 50%;
    box-sizing: content-box;
    padding-bottom: 40px;
}

.header-form__headline {
    color: #DFDFDF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110.9%;
    text-align: center;
    letter-spacing: -0.24px;
    border-bottom: 1px solid #DFDFDF;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 13px;
}

.header-form__headline_active {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110.9%;
    border-bottom: 3px solid #2C80FF;
}

.signin,
.signup {
    display: none;
    flex-direction: column;
    gap: 25px;
}

.signin_active,
.signup_active {
    display: flex;
}

.form__input {
    width: 100%;
    height: 45px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    padding-left: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: 3px solid #E9F1FF;
    ;
}

.form__input::placeholder {
    color: #CCD2E3;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
}

.form__input:focus {
    outline: none;
}

.password__input {
    position: relative;
    z-index: 2;
}

.password__input::after {
    content: "1212312";
    position: absolute;
    right: 0;
    top: 20px;
    z-index: -1;
}

.signin__password-forget {
    color: #2C80FF;
    text-align: end;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
}


.checkbox {
    display: flex;
    gap: 17px;
}

.checkbox__text {
    color: #B8B8B8;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 104.4%;
    letter-spacing: -0.18px;
}

.checkbox__text_link {
    color: #A0C6FF;
}

.checkbox__text_link:hover {
    text-decoration: underline;
}


.form_btn-body {
    display: flex;
    justify-content: center;
}

.form__btn {
    padding: 14px 57px 12px 57px;
    background-color: #2C80FF;
    border-radius: 123px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.36px;
    text-transform: uppercase
}


/* ====================================== Header */

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background: #FFF;
}

.logo {
    padding-right: 60px;
}

@media (max-width: 1366px) {
    .logo {
        padding-right: 37px;
    }
}

@media (max-width: 1024px) {
    .logo {
        padding-right: 0;
    }
}

.site__navigation {
    display: flex;
}

@media (max-width: 1024px) {
    .site__navigation {
        display: none;
    }
}

.site-navigation__item {
    align-self: center;
    padding-right: 55px;
}

@media (max-width: 1366px) {
    .site-navigation__item {
        padding-right: 37px;
    }
}

.site-navigation__item_login {
    padding: 0;
}

.site-navigation__link {
    color: #575756;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

@media (max-width: 1366px) {
    .site-navigation__link {
        font-size: 16px;
    }
}


.site-navigation__link:hover {
    text-decoration: underline;
}

.user-navigation {
    display: flex;
    width: 460px;
    justify-content: flex-end;
    flex-grow: 1;
}

.user-navigation__item {
    align-self: center;
}

.user-navigation__item_last {
    padding-left: 56px;
    display: flex;
    gap: 41px
}

@media (max-width: 1366px) {
    .user-navigation__item_last {
        padding-left: 45px;
    }
}

@media (max-width: 1024px) {
    .user-navigation__item_last {
        padding-left: 40px;
    }
}

@media (max-width: 768px) {
    .user-navigation__item_last {
        padding-left: 33px;
    }
}

@media (max-width: 480px) {
    .user-navigation__item_last {
        padding-left: 25px;
    }
}

@media (max-width: 480px) {
    .user-navigation__login {
        display: none;
    }
}

.user-navigation__burger {
    display: none;
}

@media (max-width: 1024px) {
    .user-navigation__burger {
        display: block;
    }
}

.user-navigation__btn {
    color: #3A85F4;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    padding: 12px 35px 8px 35px;
    border-radius: 123px;
    border: 1px solid #3A85F4;
    transition: all 0.3s ease;
}

@media (max-width: 1024px) {
    .user-navigation__btn {
        font-size: 12px;
        padding: 11px 25px 7px 27px;
    }
}

@media (max-width: 320px) {
    .user-navigation__btn {
        font-size: 10px;
    }
}

.user-navigation__item_btn:hover .user-navigation__btn {
    background-color: #3A85F4;
    color: #fff;
}

.site-navigation__btn_login {
    color: #3A85F4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__nav_insert {
    display: none;
}

.header__nav_active {
    display: block;
}

.site-navigation_insert {
    padding: 35px 0;
    background-color: #F9FBFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 27px;
}

.site-navigation__item_insert {
    padding-right: 0;
}

.site-navigation__link_insert {
    color: #4A4A4A;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-align: center;
}

.site-navigation__item_login {
    display: none;
}

@media (max-width: 480px) {
    .site-navigation__item_login {
        display: flex;
        gap: 10px;
    }
}

.site-navigation__item_login::before {
    content: url(/img/login_mob.svg);
}

/* ======================================= Main About */

.promo {
    background: linear-gradient(to right, #fff, #CCE7FF)
}

.promo__body {
    display: flex;
    position: relative;
    padding: 68px 0 55px 0;
}

@media (max-width: 1366px) {
    .promo__body {
        padding: 78.7px 0 64.83px 0;
    }
}

@media (max-width: 1024px) {
    .promo__body {
        padding: 71px 0 65px 0;
    }
}

@media (max-width: 726px) {
    .promo__body {
        padding: 14px 0 35px 0;
    }
}

@media (max-width: 480px) {
    .promo__body {
        flex-direction: column;
        padding: 45px 0 0 0;
    }
}

@media (max-width: 320px) {
    .promo__body {
        padding: 31px 0 0 0;
    }
}

.promo__article {
    flex: 0 1 726px;
    align-self: center;
}

@media (max-width: 1366px) {
    .promo__article {
        flex: 0 1 483px;
    }
}

@media (max-width: 1024px) {
    .promo__article {
        flex: 0 1 393px;
    }
}

@media (max-width: 480px) {
    .promo__article {
        flex: 0;
    }
}

.promo__headline {
    color: #2F2F2F;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 105.5%;
    padding-bottom: 33px;
}

@media (max-width: 1366px) {
    .promo__headline {
        font-size: 36px;
        padding-bottom: 24px;
    }
}

@media (max-width: 1024px) {
    .promo__headline {
        font-size: 30px;
    }
}

@media (max-width: 726px) {
    .promo__headline {
        font-size: 28px;
    }
}

@media (max-width: 320px) {
    .promo__headline {
        font-size: 24px;
    }
}

.promo__text {
    color: #2F2F2F;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%;
    width: 616px;
    padding-bottom: 33px;
}

@media (max-width: 1366px) {
    .promo__text {
        font-size: 16px;
        width: 100%;
        padding-bottom: 24px;
    }
}

@media (max-width: 1024px) {
    .promo__text {
        font-size: 14px;
    }
}

@media (max-width: 726px) {
    .promo__text {
        padding-bottom: 22px;
    }
}

@media (max-width: 480px) {
    .promo__text {
        padding-bottom: 26px;
    }
}

@media (max-width: 320px) {
    .promo__text {
        padding-bottom: 15px;
    }
}

.promo__btn {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    padding: 15px 44.22px 14px 43px;
    border-radius: 123px;
    background: #3A85F4;
}

@media (max-width: 1366px) {
    .promo__btn {
        font-size: 14px;
        letter-spacing: 0.56px;
        padding: 14px 43px 12px 44px;
    }
}

@media (max-width: 1024px) {
    .promo__btn {
        font-size: 13px;
        padding: 14px 32px 13px 31px;
    }
}

@media (max-width: 726px) {
    .promo__btn {
        padding: 12px 27px 11px 28px;
    }
}

@media (max-width: 480px) {
    .promo__btn {
        padding: 12px 31px 11px 32px;
    }
}

@media (max-width: 320px) {
    .promo__btn {
        padding: 10px 20px 9px 20px;
    }
}

@media (max-width: 1024px) {
    .promo__image-container {
        align-self: center;
    }
}

@media (max-width: 480px) {
    .promo__image-container {
        width: 220px;
        margin: 0 0 0 auto;
        padding-top: 15px;
    }
}

.promo__image {
    max-width: 100%;
}

/* ============================================== Howitworks */

.howitworks {
    padding-top: 125px;
    padding-bottom: 145px;
    background: #F9FBFF;
}

@media(max-width: 1366px) {
    .howitworks {
        padding-top: 70px;
        padding-bottom: 110px;
    }
}

@media(max-width: 1024px) {
    .howitworks {
        padding-top: 67px;
        padding-bottom: 78px;
    }
}

@media(max-width: 768px) {
    .howitworks {
        padding-top: 69px;
        padding-bottom: 62px;
    }
}

@media(max-width: 480px) {
    .howitworks {
        padding-top: 52px;
        padding-bottom: 94px;
    }
}

@media(max-width: 320px) {
    .howitworks {
        padding-top: 51px;
        padding-bottom: 70px;
    }
}

.howitworks__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #383838;
    text-align: center;
    padding-bottom: 47px;
}

@media(max-width: 1366px) {
    .howitworks__title {
        font-size: 26px;
        padding-bottom: 46px;
    }
}

@media(max-width: 1024px) {
    .howitworks__title {
        padding-bottom: 40px;
    }
}

@media(max-width: 768px) {
    .howitworks__title {
        font-size: 24px;
        padding-bottom: 31px;
    }
}

@media(max-width: 480px) {
    .howitworks__title {
        padding-bottom: 41px;
    }
}

@media(max-width: 320px) {
    .howitworks__title {
        font-size: 20px;
        padding-bottom: 43px;
    }
}

.howitworks__list {
    display: grid;
    grid-template-columns: repeat(4, 266px);
    grid-template-rows: 333px;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

@media(max-width: 1366px) {
    .howitworks__list {
        justify-content: center;
        grid-template-columns: repeat(4, 179px);
        grid-template-rows: 241px;
        column-gap: 85px;
    }
}

@media(max-width: 1024px) {
    .howitworks__list {
        grid-template-columns: repeat(4, 121px);
        grid-template-rows: 188px;
        column-gap: 75.37px;
    }
}

@media(max-width: 768px) {
    .howitworks__list {
        justify-content: space-between;
        grid-template-columns: repeat(4, 95px);
        grid-template-rows: 176px;
        column-gap: 25px;
    }
}

@media(max-width: 480px) {
    .howitworks__list {
        justify-content: center;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(2, 164px);
        column-gap: 73px;
        row-gap: 50px;
    }
}

@media(max-width: 320px) {
    .howitworks__list {
        grid-template-rows: repeat(2, 164px);
        column-gap: 54px;
        row-gap: 38px;
    }
}

.item-howitworks {
    display: flex;
    flex-direction: column;
    position: relative;
}

.item-howitworks__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #2F2F2F;
    align-self: center;
    justify-content: center;
    flex-grow: 1;
    bottom: -68px;
}

@media(max-width: 1366px) {
    .item-howitworks__text {
        font-size: 14px;
    }
}


@media(max-width: 768px) {
    .item-howitworks__text {
        font-size: 13px;
    }
}

.item-howitworks__image-container {
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 8px 23px 0px rgba(44, 128, 255, 0.20);
    align-self: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex: 0 1 267px;
    position: relative;

}

@media(max-width: 1366px) {
    .item-howitworks__image-container {
        flex: 0 1 179px;
    }
}

@media(max-width: 1024px) {
    .item-howitworks__image-container {
        flex: 0 1 121px;
    }
}

@media(max-width: 768px) {
    .item-howitworks__image-container {
        flex: 0 1 100px;
    }
}

.item-howitworks__image-container_first::before,
.item-howitworks__image-container_second::before,
.item-howitworks__image-container_third::before,
.item-howitworks__image-container_last::before {
    color: #E3F3FF;
    position: absolute;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    top: 0px;
    right: 5px;
}

@media(max-width:1366px) {

    .item-howitworks__image-container_first::before,
    .item-howitworks__image-container_second::before,
    .item-howitworks__image-container_third::before,
    .item-howitworks__image-container_last::before {
        font-size: 55px;
    }
}

@media(max-width:1024px) {

    .item-howitworks__image-container_first::before,
    .item-howitworks__image-container_second::before,
    .item-howitworks__image-container_third::before,
    .item-howitworks__image-container_last::before {
        font-size: 40px;
    }
}

@media(max-width:768px) {

    .item-howitworks__image-container_first::before,
    .item-howitworks__image-container_second::before,
    .item-howitworks__image-container_third::before,
    .item-howitworks__image-container_last::before {
        font-size: 25px;
        right: 5px;
    }
}


.item-howitworks__image-container_first::before {
    content: "1";
    right: 0;
}

@media(max-width:768px) {
    .item-howitworks__image-container_first::before {
        right: 2.5px;
    }
}

.item-howitworks__image-container_second::before {
    content: "2";
}

.item-howitworks__image-container_third::before {
    content: "3";
}

.item-howitworks__image-container_last::before {
    content: "4";
}

.item-howitworks__image {
    width: 60%;
    margin: 0 auto;
    align-self: center;
}

/* ================================== Community */


.community__title {
    color: #383838;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 8px;
    text-align: center;
}

@media (max-width: 1366px) {
    .community__title {
        font-size: 26px;
        padding-bottom: 9px;
    }
}

@media (max-width: 1024px) {
    .community__title {
        font-size: 24px;
        padding-bottom: 6px;
    }
}

@media (max-width: 320px) {
    .community__title {
        font-size: 20px;
        padding-bottom: 11px;
    }
}

.community__subtitle {
    color: #464646;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 224.188%;
    padding-bottom: 35px;
    text-align: center;
}

@media (max-width: 1366px) {
    .community__subtitle {
        font-size: 16px;
        padding-bottom: 30px;
    }
}

@media (max-width: 1024px) {
    .community__subtitle {
        padding-bottom: 15px;
    }
}

@media (max-width: 800px) {
    .community__subtitle {
        font-size: 15px;
    }
}

.community__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 500px));
    grid-template-rows: repeat(2, minmax(568px, auto));
    justify-content: space-between;
    row-gap: 33px;
}

@media (max-width: 1568px) {
    .community__list {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 500px));
        grid-template-rows: repeat(3, minmax(568px, auto));
        justify-content: center;
        gap: 33px;
    }
}

@media (max-width: 1086px) {
    .community__list {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 376px));
        grid-template-rows: repeat(3, minmax(465px, auto));
        justify-content: center;
        gap: 18px;
    }
}

@media (max-width: 1086px) {
    .community__list {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 376px));
        grid-template-rows: repeat(3, minmax(465px, auto));
        justify-content: center;
        gap: 18px;
    }
}


@media (max-width: 660px) {
    .community__list {
        display: grid;
        grid-template-columns: minmax(auto, 340px);
        grid-template-rows: repeat(auto, minmax(493px, auto));
        justify-content: center;
        gap: 18px;
    }
}

.item-community {
    background: #FEFEFF;
    border-radius: 10px;
    box-shadow: 0px 3px 17px rgba(43, 123, 211, 0.06);
    padding: 14px 25px;
    display: flex;
    flex-direction: column;
}


@media (max-width: 1086px) {
    .item-community {
        padding: 14px 20px;
    }
}

@media (max-width: 800px) {
    .item-community {
        padding: 14px 15px;
    }
}

.categories {
    display: flex;
    gap: 10px;
    padding-bottom: 27px;
}

@media (max-width: 1568px) {
    .categories {
        padding-bottom: 23px;
    }
}

@media (max-width: 1086px) {
    .categories {
        padding-bottom: 23px;
    }
}

@media (max-width: 800px) {
    .categories {
        display: block;
        padding-bottom: 25 px;
    }
}

.categories__text {
    text-align: center;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.44px;
    text-transform: uppercase;
    border-radius: 75px;
    padding: 10px 0 8px 0;

}

@media (max-width: 1086px) {
    .categories__text {
        font-size: 9px;
        padding: 9px 10px 8px 10px;
    }
}

@media (max-width: 800px) {
    .categories__item {
        display: inline-block;
    }
}

.categories__text_yellow {
    color: #BC9300;
    background-color: #FDFFE7;
}

@media (max-width: 800px) {
    .categories__item_yellow {
        padding-bottom: 5px;
    }
}

.categories__text_green {
    color: #00A880;
    background-color: #EBFFFA;
}

.item-community__headline {
    color: #2F2F2F;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    padding-bottom: 27px;
}

.item-community__subtitle {
    color: #505050;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 8px;
}

@media (max-width: 1086px) {
    .item-community__subtitle {
        font-size: 14px;
        padding-bottom: 3px;
    }
}

.item-community__text {
    color: #2F2F2F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.07px;
    padding-bottom: 27px;
}

@media (max-width: 1086px) {
    .item-community__text {
        font-size: 12px;
        padding-bottom: 19px;
    }
}

.item-community__reward {
    color: #2F2F2F;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 63px;
    display: flex;
    gap: 11px;
}

@media (max-width: 1086px) {
    .item-community__reward {
        padding-bottom: 33px;
    }
}

.item-community__reward::before {
    content: url(/img/reward__icon.svg);
    align-self: center;
}

.keys {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

@media (max-width: 1086px) {
    .keys {
        justify-content: start;
        gap: 10px;
    }
}

.keys__item {
    border-radius: 75px;
    padding: 9px 15px 9px 15px;
    background: #F3F3F3;
    display: flex;
    gap: 8px;
}


@media (max-width: 1086px) {
    .keys__item {
        font-size: 12px;
        padding: 9px 10px;
        gap: 5px;
    }

    .keys__item_last {
        display: none;
    }
}

.keys__text {
    color: #2F2F2F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

@media (max-width: 1086px) {
    .keys__text {
        font-size: 12px;
    }
}


.keys__item::before {
    content: url('/img/key.svg');
    align-self: top;
    width: 9px;
    height: 9px;
}

.author {
    border-top: 1px solid #CADCF8;
    border-bottom: 1px solid #CADCF8;
    padding: 18px 0;
    display: flex;
    gap: 11px;
}

@media (max-width: 1086px) {
    .author {
        padding: 15px 0;
    }
}


.author__img-container {
    width: 73px;
    height: 73px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

@media (max-width: 1086px) {
    .author__img-container {
        width: 53px;
        height: 53px;
    }
}

@media (max-width: 1086px) {
    .author__img-container {
        width: 53px;
        height: 53px;
    }
}

@media (max-width: 800px) {
    .author__img-container {
        width: 50px;
        height: 50px;
    }
}

.author__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.info-author {
    align-self: center;
}

.info-author__item {
    color: #2F2F2F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 5px;
}

@media (max-width: 1086px) {
    .info-author__item {
        font-size: 12px;
    }
}

.info-author__first {
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 1086px) {
    .info-author__first {
        font-size: 14px;
    }
}

.info-author__item_last {
    padding: 0;
}

.author__btns {
    display: flex;
    padding-top: 13px;
    justify-content: space-between;
    flex-grow: 1;
}

@media (max-width: 1086px) {
    .author__btns {
        padding-top: 10px;
    }
}

.author__btn {
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    padding: 12px 37px 10px 38px;
    border-radius: 123px;
    background: #3A85F4;
    height: 40px;
    align-self: flex-end;
}

@media (max-width: 1086px) {
    .author__btn {
        font-size: 12px;
        padding: 10px 22px 9px 23px;
    }
}

@media (max-width: 800px) {
    .author__btn {
        font-size: 10px;
        padding: 10px 22px 9px 23px;
    }
}

.link-author {
    border: 1px solid #3A85F4;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    align-self: flex-end;
}

.link-author__img {
    padding: 10px 15px;
}

.community__seeall {
    display: flex;
    justify-content: center;
    padding: 63px 0 97px 0;
}

@media (max-width: 1366px) {
    .community__seeall {
        padding: 52px 0 70px 0;
    }
}

@media (max-width: 1024px) {
    .community__seeall {
        padding: 39px 0 76px 0;
    }
}

@media (max-width: 768px) {
    .community__seeall {
        padding: 38px 0 78px 0;
    }
}

@media (max-width: 480px) {
    .community__seeall {
        padding: 42px 0 60px 0;
    }
}

@media (max-width: 320px) {
    .community__seeall {
        padding: 30px 0 60px 0;
    }
}

.community__seeall-btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3A85F4;
    padding: 15px 65px;
    border: 1px solid #3A85F4;
    text-align: center;
    border-radius: 123px;
    transition: all 0.3s ease;
}

.community__seeall-btn:hover {
    color: #fff;
    background-color: #3A85F4;
}

@media (max-width: 1366px) {
    .community__seeall-btn {
        font-size: 14px;
        padding: 14px 59px;
    }
}

@media (max-width: 1024px) {
    .community__seeall-btn {
        font-size: 13px;
        padding: 14px 43px;
    }
}

@media (max-width: 320px) {
    .community__seeall-btn {
        font-size: 12px;
        padding: 13px 10px 30px 30px;
    }
}


/* =====================================  Footer */

.footer {
    background-color: #262628;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    padding: 41px 0 23px 0;
}

@media (max-width: 1024px) {
    .footer__list {
        flex-direction: column;
        padding: 22px 0 16px 0;
    }
}

@media (max-width: 480px) {
    .footer__list {
        display: grid;
        grid-template-columns: minmax(auto, 144px) 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 23px 0;
    }
}

.item-footer {
    align-self: center;
}

@media (max-width: 1024px) {
    .item-footer_first {
        order: 2;
        padding-bottom: 15px;
    }

    .item-footer_second {
        align-self: stretch;
        order: 1;
        padding-bottom: 38px;
    }

    .item-footer_last {
        order: 3;
    }
}

@media (max-width: 480px) {
    .item-footer_first {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-bottom: 0;
        align-self: end;
    }

    .item-footer_second {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2 span;
        padding-bottom: 0;
    }

    .item-footer_last {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: start;
    }
}

.item-footer__headline {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.item-footer__subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #888888;
}

@media (max-width: 1366px) {
    .item-footer__headline {
        font-size: 14px;
    }

    .item-footer__subtitle {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .item-footer__headline {
        text-align: center;
        font-size: 12px;
    }

    .item-footer__subtitle {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .item-footer__headline {
        text-align: start;
        padding-bottom: 0;
    }
}

.item-footer__list {
    display: flex;
    gap: 78px;
}

@media (max-width: 1366px) {
    .item-footer__list {
        gap: 45px;
    }
}

@media (max-width: 1024px) {
    .item-footer__list {
        justify-content: space-between;
    }
}

@media (max-width: 480px) {
    .item-footer__list {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .item-footer__item {
        align-self: flex-end;
    }

}

.item-footer__link {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

@media (max-width: 1366px) {
    .item-footer__link {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .item-footer__link {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .item-footer__link {
        text-align: end;
    }
}

.socials {
    display: flex;
    gap: 37px;
}

@media (max-width: 1366px) {
    .socials {
        gap: 25px;
    }
}

@media (max-width: 1024px) {
    .socials {
        gap: 14px;
    }
}