.key {
  border-radius: 75px;
  padding: 9px 15px 9px 15px;
  background: #f3f3f3;
  display: flex;
  gap: 8px;

  @media (max-width: 1086px) {
    & {
      font-size: 12px;
      padding: 9px 10px;
      gap: 5px;
    }
  }

  &::before {
    content: url('../../../img/key.svg');
    align-self: center;
    margin-bottom: -3px;
  }
}

.text {
  color: $page_font-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;

  @media (max-width: 1086px) {
    & {
      font-size: 12px;
    }
  }
}
